b1naryinspec/target/classes/br/com/jaia/b1naryinspec/B1naryinspecApplication.class
b1naryinspec/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
b1naryinspec/target/b1naryinspec-0.0.1-SNAPSHOT.jar
.gitignore
